[access "refs/*"]
        owner = group android_device_samsung_a12s
        label-Verified = -1..+1 group android_device_samsung_a12s
        submit = group android_device_samsung_a12s
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
[access "refs/heads/*"]
	push = +force group Administrators
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
